@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

body,
body>* {
    transition: ease all 0.2s;

}

main {
    width: 60%;
    margin: 0 auto;
}

main,
main>*,
select,
#submitBtn,
button {
    font-family: "Space Mono", monospace;
}

main>* {
    margin: 2rem 1rem;
}

form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    justify-content: center;
}

#settings button {
    margin: 1rem;
}

/* add padding to input boxes except checkboxes and change font */
input:not(input[type="checkbox"]),
select {
    padding: 0.25rem 0.5rem;
    font-family: "Space Mono", monospace;
}

/* space between "done" checkbox and label */
#isDone {
    margin-right: 0.6rem;
}

button,
#submitBtn {
    padding: 8px 10px;
}

/* separate submit button for clarity */
#submitBtn {
    margin: 1rem 2rem;
}

#deleteBtn {
    margin-left: 1rem;
}

h1,
h2 {
    text-align: center;
}

h2 {
    margin: 1rem 0;
}

#taskManager {
    width: 100%;
    margin: 0 auto;
    border: 1px solid lightgray;
    background-color: #f8f8f8;
    height: 500px;
    overflow-y: auto;
}

#taskManager label {
    margin-left: 0.8rem;
}

.taskDiv {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    border: 1px solid gray;
    padding: 1.5rem 4rem;
}

#taskDiv>* {
    display: inline;
    width: fit-content;
    margin: 1rem;
}

/* -- JS conditional classes -- */
.important {
    background-color: #ff00001a !important;
    border-left: 5px solid red;
}

.done {
    background-color: #ececec !important;
    color: gray;
}

.done p {
    text-decoration: line-through;
}

.dark {
    background-color: #0b0b0b;
    color: #f2f2f2;
}

.dark button,
.dark input,
.dark select {
    background-color: black;
    color: white;
}

.dark button:hover,
.dark #submitBtn:hover {
    background-color: #262626;
}

.dark#taskManager {
    background-color: #262626
}

.dark#taskManager>div {
    background-color: #4e4e4e
}

.dark#taskManager>div.done {
    background-color: #646464 !important;
    color: lightgray;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 894px) {
    main {
        width: 100%;
    }

    form {
        max-width: 100%;
        flex-flow: row wrap;
        justify-content: center;
    }

    form>* {
        margin: 1rem;
    }
    
    #taskManager {
        width: 100%;
    }

    .taskDiv {
        padding: 1.5rem 1rem;
    }
}

@media screen and (min-width: 895px) and (max-width: 1360px) {
    main {
        width: 75%;
    }

    form {
        max-width: 100%;
        flex-flow: row wrap;
        justify-content: center;
    }

    form>* {
        margin: 1rem;
    }
}